<section id="problem_statement">
    <h2>Problem Statement</h2>
    <section>
        {{ extract_slide("/source/docs/overview/Problem_Statement.md", "Short").content }}
    </section>
    <section>
        {{ extract_slide("/source/docs/overview/Problem_Statement.md", "Key Points").content }}
    </section>
</section>