<section id="vision_statement" data-background-opacity="0.6" data-background-image="{{ url_for('static', filename='img/backgrounds/vision.png') }}">
    <h2>Vision Statement</h2>
    <section>
        {{ extract_slide("/source/docs/overview/Vision_Statement.md", "Short").content }}
    </section>
    <section>
        {{ extract_slide("/source/docs/overview/Vision_Statement.md", "Key Points").content }}
    </section>
</section>