<section id="vision_statement">
    <h2>Vision Statement</h2>
    <section>
        {{ extract_slide("/source/docs/overview/Vision_Statement.md", "Short").content }}
    </section>
    <section>
        {{ extract_slide("/source/docs/overview/Vision_Statement.md", "Key Points").content }}
    </section>
</section>