.slide {
    background-image: url('/static/img/slides/backgrounds/default.png');
    background-size: cover;
    background-position: center;
}

.scrollable-list {
    max-height: 400px;   /* Limit the visible height */
    overflow-y: auto;    /* Add vertical scrollbar when needed */
    padding-right: 1rem; /* Optional: prevent overlap with scrollbar */
}