{% from 'macros/list_base.html.j2' import beaver_list_base %}

{{ beaver_list_base(headline, headlines(path), beaver, path=path) }}

{% for file in snippets(path) %}
  {% include file %}
{% endfor %}
