<section id="for-administrators">
    <section>
    <h2>CyMaIS for Administrators</h2>
        <ul>
            <li>Role of Administrators in CyMaIS</li>
            <li>Automating Server and Workstation Setups</li>
            <li>Managing Users and Permissions</li>
            <li>Deployment and Infrastructure Maintenance</li>
            <li>Security Measures and Protocols</li>
            <li><a href="#setup">Setup and Installation</a></li>
        </ul>
    </section>
    <section id="setup">
        <h2>Setup and Installation</h2>
        <ul>
            <li>Installing CyMaIS with Kevin’s Package Manager</li>
            <li>Setting Up CyMaIS</li>
            <li>Using the CyMaIS Command-Line Interface (CLI)</li>
        </ul>
    </section>
</section>
