<section id="for-administrators">
    <section>
    <h2>Infinito.Nexus for Administrators</h2>
        <ul>
            <li>Role of Administrators in Infinito.Nexus</li>
            <li>Automating Server and Workstation Setups</li>
            <li>Managing Users and Permissions</li>
            <li>Deployment and Infrastructure Maintenance</li>
            <li>Security Measures and Protocols</li>
            <li><a href="#setup">Setup and Installation</a></li>
        </ul>
    </section>
    <section id="setup">
        <h2>Setup and Installation</h2>
        <ul>
            <li>Installing Infinito.Nexus with Kevin’s Package Manager</li>
            <li>Setting Up Infinito.Nexus</li>
            <li>Using the Infinito.Nexus Command-Line Interface (CLI)</li>
        </ul>
    </section>
</section>
