<section id="cymais-intro">
    <h2>Introduction to CyMaIS</h2>
    <ul>
        <li>What is CyMaIS?</li>
        <li>Technologies Behind CyMaIS</li>
        <li>Benefits of Using CyMaIS</li>
        <li>How CyMaIS Simplifies Infrastructure Management</li>
    </ul>
</section>