{% set headline = 'Analyse' %}
{% set beaver = 'research' %}
{% include 'macros/beaver_picture.html.j2' %}
{% for section in ["problem", "vision"] %}
<section id="{{ section }}_statement" {{ background('analyses/' ~ section) }}>
  <section>
    <h2>{{ section | title }} Statement</h2>
    <blockquote class="fs-2 fragment fade-in">
      {{ extract_slide("/source/docs/overview/" ~ (section | title) ~ "_Statement.md", "Short").content }}
      <footer>
        <a target="_blank" href="{{ docs_link("/source/docs/overview/" ~ (section | title) ~ "_Statement.md") }}">- CyMaIS {{section | title}} Statement</a>
      </footer>
    </blockquote>
  </section>
  <section>
    <h2>{{ section | title }} Statement Short</h2>
    <div class="rounded p-4 my-4 bg-dark text-white shadow-sm bg-opacity-75 fs-2">
    {{ extract_slide("/source/docs/overview/" ~ (section | title) ~ "_Statement.md", "Key Points").content }}
      <img src="static/img/slides/pictures/beaver/{{section}}.png" width="150" />
    </div>
  </section>
</section>
{% endfor %}
<section id="market">
  {% set headline = 'Market Analyses' %}
  {% set beaver = 'market_optimistic' %}
  {% include 'macros/beaver_picture.html.j2' %}
            <section id="market_volume">
    <h2>Market Volume</h2>
<div class="mermaid" style="width: 600px; height: 400px;">
pie
    title Germany: IT Modernization Status
    "Fully Modernized (20%)": 20
    "Partially Digitalized (30%)": 30
    "Requires Major Modernization (50%)": 50
</div>
  </section>
</section>