{% set headline = 'Analyse' %}
{% set beaver = 'research' %}
{% include 'macros/beaver_picture.html.j2' %}
{% for section in ["problem", "vision"] %}
<section id="{{ section }}_statement" {{ background('introduction/' ~ section) }}>
  <h2>{{ section | title }} Statement</h2>
  <section>
    <blockquote class="fs-2 fragment fade-in">
      {{ extract_slide("/source/docs/overview/" ~ (section | title) ~ "_Statement.md", "Short").content }}
      <footer>
        <a target="_blank" href="{{ docs_link("/source/docs/overview/" ~ (section | title) ~ "_Statement.md") }}">- CyMaIS {{section | title}} Statement</a>
      </footer>
    </blockquote>
  </section>
  <section>
    <div class="border rounded p-4 my-4 bg-dark text-white shadow-sm bg-opacity-75 fs-2">
    {{ extract_slide("/source/docs/overview/" ~ (section | title) ~ "_Statement.md", "Key Points").content }}
    </div>
  </section>
</section>
{% endfor %}
