<section id="cymais-intro">
    <h2>Introduction</h2>
    <ul>
        <li>What is CyMaIS?</li>
        <li>Benefits of Using CyMaIS</li>
        <li>How CyMaIS Simplifies Infrastructure Management</li>
        <li><a href="#features">What are the features?</a></li>
    </ul>
</section>