<section id="intro" class="container my-5">
    <div class="row align-items-center">
        <h2>Agenda</h2>
        <!-- Agenda: Linksbündig -->
        <div class="col-md-6 text-start">
            <ul class="list-unstyled">
                <li><a href="#cymais-intro">Introducing CyMaIS</a></li>
                <li><a href="#target-groups">Tailored Solutions for You</a></li>
                <li><a href="#future">Looking Ahead</a></li>
                <li><a href="#qa">Q&amp;A</a></li>
                <li><a href="#closing">Final Thoughts</a></li>
            </ul>
        </div>
        <!-- GIF: Rechtsbündig -->
        <div class="col-md-6 text-end">
            <img src="/static/img/slides/pictures/cybercats.gif" class="img-fluid" width="200" alt="Agenda GIF">
        </div>
    </div>
</section>
