<section id="cymais-intro">
    <h2>Introduction to CyMaIS</h2>
    <ul>
        <li><a href="#problem_statement">What's the Problem?</a></li>
        <li><a href="#vision_statement">What's the Vision?</a></li>
        <li>What is CyMaIS?</li>
        <li>Technologies Behind CyMaIS</li>
        <li>Benefits of Using CyMaIS</li>
        <li>How CyMaIS Simplifies Infrastructure Management</li>
    </ul>
</section>
{% for file in snippets('slides/introduction') %}
    {% include file %}
{% endfor %}