<section id="infinito-intro" {{ background("vision") }}>
    <section id="vision">
        <h2>Vision</h2>
        <blockquote class="fs-2 fragment fade-in">
        {{ extract_slide("/source/docs/vision/README.md", "Short").content }}
        <footer>
            <a target="_blank" href="{{ docs_link("/source/docs/vision/README.md") }}">Vision Statement</a>
        </footer>
        </blockquote>
    </section>
  {% from 'macros/list.html.j2' import beaver_list %}
  {{ beaver_list('Vision Summary', extract_slide('/source/docs/vision/README.md', "Key Points", output_type="list").content, 'vision-right') }}
</section>