<section id="cymais-intro" {{ background("vision") }}>
    <section id="vision">
        <h2>Vision</h2>
        <blockquote class="fs-2 fragment fade-in">
        {{ extract_slide("/source/docs/vision/README.md", "Short").content }}
        <footer>
            <a target="_blank" href="{{ docs_link("/source/docs/vision/README.md") }}">Vision Statement</a>
        </footer>
        </blockquote>
    </section>
    <section>
        <h2>Vision Short</h2>
        <div class="rounded p-4 my-4 bg-dark text-white shadow-sm bg-opacity-75 fs-2">
        {{ extract_slide("/source/docs/vision/README.md", "Key Points").content }}
        <img src="static/img/slides/pictures/beaver/vision.png" width="150" />
        </div>
    </section>
    </section>
</section>