<section>
  {% set headline = 'Architecture' %}
  {% set beaver = 'architect' %}
  {% include 'macros/beaver_picture.html.j2' %}
  <section id="market_volume">
    <h2>Market Volume</h2>
  </section>
</section>