<section id="roadmap">
    {% from 'macros/beaver_section.html.j2' import beaver_section %}
    {{ beaver_section('Roadmap', 'gant') }}
    <section>
        <h2>Open Project</h2>
        <ul>
            <li>Planned Features and Enhancements</li>
            <li>Community Involvement</li>
            <li>Upcoming Versions and Updates</li>
        </ul>
    </section>
</section>