<section id="roadmap">
    {% set headline = 'Roadmap' %}
    {% set beaver = 'gant' %}
    {% include 'macros/beaver_picture.html.j2' %}
    <section>
        <h2>Open Project</h2>
        <ul>
            <li>Planned Features and Enhancements</li>
            <li>Community Involvement</li>
            <li>Upcoming Versions and Updates</li>
        </ul>
    </section>
</section>