<section {{ background("sailing") }}>
{% set headline = 'Community' %}
{% set beaver = 'community' %}
{% include 'macros/beaver_picture.html.j2' %}

{% set headline = 'Team' %}
{% set beaver = 'team' %}
{% include 'macros/beaver_picture.html.j2' %}
</section>