<section id="Closing">
    {% set headline = 'Acknowledgements' %}
    {% set beaver = 'hearts' %}
    {% include 'macros/beaver_picture.html.j2' %}
    <section>
        <h2>Thank You</h2>
        <p>For any further questions, you can contact me at: <a href="mailto:{{ email }}">{{ email }}</a></p>
    </section>
</section>