<section id="Closing">
    {% from 'macros/section.html.j2' import beaver_section %}
    {{ beaver_section('Acknowledgements', 'hearts') }}
    <section>
        <h2>Thank You</h2>
        <p>For any further questions, you can contact me at: <a href="mailto:{{ email }}">{{ email }}</a></p>
    </section>
</section>