<section id="Closing">
    <section>
        <h2>Acknowledgements</h2>
        <p>{{ acknowledgements_text }}</p>
    </section>
    <section>
        <h2>Thank You</h2>
        <p>For any further questions, you can contact me at: <a href="mailto:{{ email }}">{{ email }}</a></p>
    </section>
</section>