<section id="target-groups">
    <h2>CyMaIS for...</h2>
    <ul>
        <li><a href="#cymais-users">...End-Users</a></li>
        <li><a href="#cymais-admin">...System Administrators</a></li>
        <li><a href="#cymais-dev">...Developers</a></li>
        <li><a href="#cymais-investors">...Investors</a></li>
        <li><a href="#cymais-business">...Business</a></li>
    </ul>
</section>