<section id="problem_statement" {{ background("situation") }}>
  <section>
    <h2>Current Situation</h2>
    <blockquote class="fs-2 fragment fade-in">
      {{ extract_slide("/source/docs/analysis/Situation.md", "Short").content }}
      <footer>
        <a target="_blank" href="{{ docs_link("/source/docs/analysis/Situation.md") }}">Situation Analysis</a>
      </footer>
    </blockquote>
  </section>
  <section>
    <h2>Current Situation</h2>
    <h2 Short</h2>
    <div class="rounded p-4 my-4 bg-dark text-white shadow-sm bg-opacity-75 fs-2">
    {{ extract_slide("/source/docs/analysis/Situation.md", "Key Points").content }}
      <img src="static/img/slides/pictures/beaver/fear.png" width="150" />
    </div>
  </section>
</section>