<section id="market" {{ background('market') }}>
  {% from 'macros/section.html.j2' import beaver_section %}
  {{ beaver_section('Market Analysis', 'market_optimistic') }}
  {% for market in markets %}
    <section id="market-{{ market.id }}" data-auto-animate>
        <h3>{{ market.title }}</h3>
        <img src="/static/img/slides/pictures/beaver/{{ market.beaver }}" alt="{{ market.title }}" class="custom-center-img">
    </section>
    <section>
        <h3>{{ market.title }}</h3>
        <div>
            {{ market.introduction | safe }}
        </div>
        <div class="documentation-link">
            <a class="doc-btn" target="_blank" href="{{ docs_link(market.analysis_link) }}">
                <i class="fas fa-book"></i> View Documentation
            </a>
        </div>
    </section>
    <section>
        <h3>{{ market.title }}</h3>
        <div class="mermaid">{{ market.diagram1 }}</div>
    </section>
  {% endfor %}
{{ beaver_section('Market Analysis for CyMaIS on Mars', 'mars') }}
</section>