<section id="features-webservices" {{ background('feature/webservices') }}>
    <section>
        <h2>Webservices</h2>
        <ul class="scrollable-list fs-6">
            {% for role_name, role in roles('docker-').items() %}
                <li><a href="#docker-role-{{ role_name }}">{{ role.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% for role_name, role in roles('docker-').items() %}
        <section id="docker-role-{{ role_name }}">
            <h3>{{ role.title }}</h3>
            {% if role.meta.galaxy_info %}
            <div class="rounded p-4 my-4 bg-dark text-white shadow-sm bg-opacity-75 fs-2">
                {{ role.meta.galaxy_info.description }}
            </div>
            {% endif %}
            <div class="documentation-link">
                <a class="doc-btn" target="_blank" href="{{ docs_link(role.readme) }}">
                    <i class="fas fa-book"></i> View Documentation
                </a>
                <a class="app-btn" target="_blank" href="{{ app_url(role.application_id) }}">
                    <i class="fas fa-play"></i> Try Software
                </a>
            </div>
        </section>
    {% endfor %}
</section>
