

<section>
    {% from 'macros/section.html.j2' import beaver_section %}
    {{ beaver_section('Enterprise', 'mars') }}
    <section id="features-automated-deployment">
        <h2>Migration</h2>
        {{ extract_slide("/source/docs/features/Migration.md", "Key Points").content }}
    </section>
    <section id="features-automated-deployment">
        <h2>Automated IT Deployment</h2>
        <ul>
            <li>Pre-built Roles for Server and PC Setups</li>
            <li>Easy Installation and Setup</li>
            <li>Automating System Configurations</li>
        </ul>
    </section>

    <section id="features-security">
        <h2>Enterprise-ready Security</h2>
        <ul>
            <li>Supports LDAP, Keycloak, and 2FA</li>
            <li>Encrypted Storage Solutions</li>
            <li>Securing Cloud Infrastructure</li>
        </ul>
    </section>

    <section id="features-scalability">
        <h2>Scalability & Flexibility</h2>
        <ul>
            <li>Modular Approach for Different Team Sizes</li>
            <li>Adaptable for Small Businesses and Large Enterprises</li>
        </ul>
    </section>

    <section id="features-backup">
        <h2>Backup & Recovery Solutions</h2>
        <ul>
            <li>Automated Data Security</li>
            <li>Preventing Data Loss</li>
            <li>Efficient Backup Strategies</li>
        </ul>
    </section>

    <section id="features-monitoring">
        <h2>Infrastructure Monitoring & Maintenance</h2>
        <ul>
            <li>Continuous System Monitoring</li>
            <li>Automated System Alerts</li>
            <li>Optimizing System Performance</li>
        </ul>
    </section>

    <section id="features-iam">
        <h2>Infrastructure Monitoring & Maintenance</h2>
        <ul>
            <li>Continuous System Monitoring</li>
            <li>Automated System Alerts</li>
            <li>Optimizing System Performance</li>
        </ul>
    </section>
</section>